six
lmdb
numpy
pyarrow
torch==2.6.0 
torchvision==0.21.0 
torchaudio==2.6.0 --index-url https://download.pytorch.org/whl/cu126
Pillow
xformers
lmdb
PyYAML
ninja
nested_dict
scipy
git+https://github.com/RobustBench/robustbench.git